
#firstpage_background{
    display:flex;
    min-height:100vh;
    max-height:100vh;
    min-width:70vh;
    max-width:70vh;
    flex-direction: column;
    background-size: cover;
    margin: 0 auto;

}
  
  #firstpage_container2{
    flex-grow:0.1;
    min-width:30vh;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  #firstpage_container3{
    flex-grow:1;
    text-align: center;
    font-size: 400%;
    color:white;
    font-weight: bold;
  }
  #firstpage_container4{
    flex-grow:1;
    display:flex;
  }
  #firstpage_login{
    flex-grow:1;
    text-align: center;
  }
  #firstpage_signup{
    flex-grow:1;
    text-align: center;
  }
  #firstpage_login1{
	background-color:#7B6EB0;
	border-radius:15%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:35px;
	font-weight:bold;
    width:80%;
    height:40%;
	text-decoration:none;

  }
  #firstpage_signup1{
	background-color:#7B6EB0;
	border-radius:15%;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:35px;
    width:70%;
    height:40%;
	font-weight:bold;
	text-decoration:none;
  }
  #firstpage_logo{
    width:70%;
    height:80%;
    justify-content: center;
    align-items: center;
  }
