@media (min-width: 300px) {  
#mypage_back{
  margin: 0 auto;
  width:100%;
  height:100%;
  background: url(/src/img/shortback.png);
  background-repeat: no-repeat;
  background-size:100% 85%;
  max-width: 554px;
  min-height: 574px;
  overflow-x:hidden;
  overflow-y:hidden;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column; /*수직 정렬*/
  align-items: center;
  justify-content: center;

}

#mypage_back_button{
  background-color: transparent;
  border: 0;
  position: relative;
  right: 35%;
  margin-top: 4%;
  filter: invert(100);
}

#mypage_profile_text{
  position: relative;
  left: 40%;
  margin-top: -5%;
  flex: 0.4;
  width: 100%;
  font-weight: bold;
  font-size:x-large;
  color: white;
  /*background-color: aqua;*/
}
#mypage_profile{
    flex: 1.5;
    width: 100%;
    height: 70;
    margin-bottom: 5%;
    float: left;
   /* background-color:blue;*/
}
#mypage_profile_img{
position: relative;
top: -13%;
left: 10%;
width: 30%;
height: 65%;
float: left;
}
#mypage_name{
position: relative;
top: -10%;
height: 30%;
left: 25%;
font-weight: bold;
font-size:xx-large;
color: white;
}
#mypage_agency{
position: relative;
font-size:medium;
opacity: 0.5;
color: white;
left: 20%;
top: -3%;
}
#mypage_button1,#mypage_button2,#mypage_button3,#mypage_button4,#mypage_button5,#mypage_button6{
flex: 0.2;
width: 100%;
height: 10%;
border: 0;
background-color:transparent;
font-size:large;
margin-bottom: 5%;
position: relative;
top: -7%;
/*background-color:rgb(17, 255, 0);*/
}
#mypage_div_adv{
flex: 0.7;
position: relative;
top: -8%;
}
}