#realtime_back{
    margin: 0 auto;
    width:100%;
    background: url(/src/img/shortback.png);
    background-repeat: no-repeat;
    background-size:100% 150%;
    flex: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    align-items: center;
    justify-content: center;
    min-width: 554px;
    max-width: 554px;
    min-height: 1050px;
    max-height: 1050px;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  #realtime_div1{
    flex: 1;
  }
  #realtime_div2{
    flex: 1;
  }
  #realtime_div3{
    flex: 8;
  }
  #realtime_back_button{
    background-color: transparent;
    border: 0;
    filter: invert(100%);
    position: relative;
    right: 110%;
    top: 33%;
  }
  #realtime_text{
    color: white;
    font-size :xx-large;
    font-weight: bolder;
  }
  #realtime_search{
    width:500px ;
    height: 50%;
    opacity: 0.5;
    font-size: x-large;
  }
  #realtime_grid{
    display: grid;
    grid-template-columns: 500px;
  }
  #realtime_divcol{
    padding: 0.5rem;
    border: 0px solid #ccc;

    background: #fff;
    font-size: 1.4rem;
    text-align: center;
  }