@media (min-width: 300px) { 
  #repair_back{
    margin: 0 auto;
    width:100%;
    height:100%;
    background: url(/src/img/backback.PNG);
    background-repeat: no-repeat;
    background-size:cover;
    min-width: 393px;
    max-width: 554px;
    max-height: 1050px;
    overflow-x:hidden;
    overflow-y:hidden;
    flex: 10;
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column; /*수직 정렬*/
    align-items: center;
    justify-content: center;
    }
    
   #repair_text{
    display: inline;
    position: relative;
    right: 20%;
    top: -3%;
    width: 100%;
    font-weight: bold;
    font-size:xx-large;
    color: black;
    
   }
  #repair_back_button{
      background-color: transparent;
      border: 0;
      position: relative;
      right: 80%;
      margin-top: 4%;
      
      
  }
    #repair_img {
    width: 500px;
    height: 300px;
    background-color: white;
  }
    #repair_title{
    width: 90%;
    height: 30px;
    border: 1px solid black;
    margin-top: 20px;
    position: relative;
    top: 110px;
    left: 22px;
    position: relative;
    }
    #repair_address{
    position: relative;
    width: 90%;
    top: 110px;
    margin-top: 3px;
    left: 22px;
    height: 30px;
    position: relative;
    border: 1px solid black;
    
    }
    
    #post_name{
      float: right;
      position: relative;
      left: -30px;
      border: 0px;
      top: 77px;
      height: 32px;
      background-color: white;
  
    }
    
  
    #repair_div2{
      height: 30%;
      width: 90%;
      
    }
    #repair_div3{
      width: 100%;
    }
    #repair_div4{
      width: 100%;
    }
    #repair_div5{
      width: 100%;
      
    }
    #repair_div6{
      width: 100%;
  
    }
    #repair_story{
      width: 90%;
      height: 70%;
      top: 19%;
      position: relative;
      left: 22px;
      font-size: 20px;
    }
    #repair_select{
      position: relative;
  
    }
    #repair_button{
      top: 130px; 
      left: -20px;   
      position: relative;
      font-size: 20px;
      background-color: transparent;
      border: 0px;
    }
  }