#signup_background1{
    display:flex;
    min-height:100vh;
    max-height:100vh;
    min-width:70vh;
    max-width:70vh;
    flex-direction: column;
    background-size: cover;
    background-color: #7B6EB0;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
#singnup_container5{
    align-items: center;
    text-align: center;
    flex-grow:1;
  }
  #singnup_container6{
    flex-grow:0.5;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    padding:10%;
    font-size:20px;
    font-weight: bold;
  }
  #singnup_container7{
    flex-grow:1;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding:10%;
    font-size:30px;
  }

  #singnup_idinput{
    width:80%;
    height:35px;
    font-size:15px;
    border-color: rgb(22, 33, 54); 
    background: transparent;
    border-radius: 13px;
    display:flex;
  }
  #singnup_pwd{
    display:flex;
  }
  #singnup_logo2{
    width:50%;    
  }
  #singnup_sign{
    background-color:#7B6EB0;
    border-radius:15%;
    border-color: black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:35px;
      width:30vh;
      height:10vh;
    font-weight:bold;
    text-decoration:none;
  }
  