@media (min-width: 300px) {  
#signup_background1{
  margin: 0 auto;
  width:100%;
  height:100%;
  background: url(/src/img/shortback.png);
  background-repeat: no-repeat;
  background-size:100% 60%;
  max-width: 554px;
  min-height: 572px;
  overflow-x:hidden;
  overflow-y:hidden;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column; /*수직 정렬*/
  align-items: center;
  justify-content: center;
}
#signup_back_button{
  background-color: transparent;
  border: 0;
  position: relative;
  left: -35%;
  height: 100%;
  filter: invert(100);
  margin-top: 5%;
}

#signup_container5{
    align-items: center;
    text-align: center;
    flex-grow:1;
  }
  #singnup_container6{
    position: relative;
    left: 5%;
    flex-grow:0.5;
    justify-content: flex-end;
    align-items: center;
    padding:10%;
    font-size:20px;
    font-weight: bold;
  }
  #singnup_container7{
    position: relative;
    left: -5%;
    flex-grow:1;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding:10%;
    font-size:30px;
  }

  #singnup_idinput{
    width:80%;
    height:35px;
    font-size:15px;
    border-color: rgb(22, 33, 54); 
    background: transparent;
    border-radius: 13px;
    display:flex;
    text-align: center;
  }
  #singnup_pwd{
    display:flex;
  }
  #singnup_logo2{
    width:50%;    
  }
  #singnup_sign{
    background-color:#7B6EB0;
    border-radius:15%;
    border-color: black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:35px;
      width:200px;
      height:60px;
    font-weight:bold;
    text-decoration:none;
  }
  #signup_repasswordicon{
    margin-left: 1%;
    margin-top: 2%;
  }
}